<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barber Shop</title>
      <link rel="stylesheet" href="/css/style.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
</head>
<body>
<div class="neon" data-text="The BarberShop">The BarberShop</div>
    <h1 class="here3">here3</h1>









<h1>dfdgrg</h1>





























    {{{ body }}}
    </script>
</body>
</html>