color {
  color: #116466, #2c3531, #d9b080, #ffcb9a, #d1e8e2;
}
colors {
  color: #f7768e, #ff9e64, #e0af68, #9ece6a, #73daca, #b4f9f8, #2ac3de, #7aa2f7,
    #bb9af7, #c0caf5, #a9b1d6, #9aa5ce, #565f89, #414868, #24283b, #1a1b26;
}

body {
  background-image: url("./../1936421.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
}

.here3 {
  color: black;
  text-shadow: 1px 1px 2px #9ece6a, 0 0 25px #2ac3de, 0 0 5px #f7768e;
}

.neon {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0%;
  font-size: 6em;
  color: #fff;
  /* text-shadow: 0 0 20px #ff005b; */
  text-shadow: 0 0 20px #2ac3de;
  text-align: center;
}

.neon:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  /* color: #ff005b; */
  color: #2ac3de;
  filter: blur(15px);
}

.neon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #fe3a80; */
  background: #2ac3de;
  z-index: -2;
  opacity: 0.3;
  filter: blur(100px);
}

.text {
  /* position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0%; */
  font-size: 1em;
  color: #fff;
  text-shadow: 0 0 20px #ff005b;
  /* text-shadow: 0 0 20px #2ac3de; */
  text-align: center;
  /* margin: 1em; */
}

.text:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: -1;
  color: #ff005b;
  /* color: #2ac3de; */
  /* filter: blur(10px); */
}

.text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fe397e;
  /* background: #2ac3de; */
  z-index: -2;
  opacity: 0.3;
  filter: blur(100px);
}

.div {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selfie-background {
    margin: 80px auto;
    /* position: relative; */
    width: 15em;
    height: 15em;
    padding: 10px;
    box-shadow: 0 0 20px #bb9af7aa;
    border-radius: 50%;
    text-align: center;
  }
  
  .selfie {
    width: 15em;
    height: 15em;
    border-radius: 50%;
  }

  .shadow {
    background-color: #00000060;
    padding: 1em;
    /* margin: 1em; */
    border-radius: 1em;
  }
.pic {
    width: 400px;
    height: 700px;
    border-radius: 15%;
    margin: 25px 0px 25px 0px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  nav li {
    display: inline-block;
    /* margin-left: 70px;
    padding-top: 25px; */
  
    position: relative;
  }

  nav a {
    color: #bb9af7;
    text-decoration: none;
    text-transform: uppercase;
  }

  nav a:hover {
    color: #2ac3de;
  }